@model IEnumerable<locacaoProjeto.Models.Pedido>
@using locacao_veiculos.ModelViews;
@{

    ViewData["Title"] = "Index";
}

<h1>Pedidos</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Clientes
            </th>
            <th>
                Carro
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Data de Locação
            </th>
            <th>
                Data de Entrega
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PedidoResumido pedido in ViewBag.pedidos)
        {
            <tr>
                <td>
                    @pedido.NomeCliente
                </td>
                <td>
                    @pedido.NomeCarro
                </td>
                <td>
                    @pedido.MarcaDoCarro
                </td>
                <td>
                    @pedido.ModeloDoCarro
                </td>
                <td>
                    @pedido.DataLocacaoPedido.ToString("dd/MM/yyy")
                </td>
                <td>
                    @pedido.DataEntregaPedido.ToString("dd/MM/yyy")
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@pedido.PedidoId">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@pedido.PedidoId">Listar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@pedido.PedidoId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>